eval "$(/opt/homebrew/bin/brew shellenv)"
fastfetch

echo
# Print welcome message and capitalize the first letter of the username.
echo "Welcome, ${(C)USER}! Remember to update you brew installations! (brewup)"
echo

alias git-update='git checkout main && git pull origin main && git checkout develop && git pull origin develop'
alias git-merge='git checkout main && git pull origin main && git merge main develop && git push origin main && git checkout develop'
alias brewup='brew update && brew upgrade'
alias cleanup='brew cleanup'

