# If not running interactively, don't do anything (leave this at the top of this file)
[[ $- != *i* ]] && return

# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)
source ~/.local/share/omarchy/default/bash/rc

# Add your own exports, aliases, and functions here.
#
# Make an alias for invoking commands you use constantly
# alias p='python'

# Added By TrickMyInstall
alias git-update='git checkout main && git pull origin main && git checkout develop && git pull origin develop'
alias git-merge='git checkout main && git pull origin main && git merge main develop && git push origin main && git checkout develop'
alias cronjobs='systemctl --user --all list-timers'
alias update='omarchy-update'
alias vim='nvim'
alias convert='/home/samurai/code/bash_scripts/imageconvert.sh'
alias steamsync='/home/samurai/code/bash_scripts/steampicssync.sh $HOME/Pictures/Steam/ /mnt/remote_cifs/Steam-Photos-Backup/ $HOME/steam-sync.log && tail -n 10 $HOME/steam-sync.log'

# Manual Entries #
fastfetch
/home/samurai/code/bash_scripts/backupservercheck.sh
echo
